/*--global----*/
.{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 50;
    font-size: 100%;
    vertical-align: baseline;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1,h2,h3,h6{
    
    font-weight: 300;
}



/*--header----*/

.zoom {
    padding: 50px;
    
    transition: transform .2s;
    width: 600px;
    height: 4s00px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .getstarted:hover {
    background-color:#CCCCCC;
    color: #2F2E41;
    text-decoration: none;
  }
.header{
    height: 800px;
    min-height: 1000px;background-image: url("illustration1.png");
    background-repeat: no-repeat;
    background-size:1000px 900px;
    background-position:right top;
    padding: 0 5%;
    
}
.getstarted{
    background-color: #2F2E41;
    border-radius: 50px;
    padding:15px 20px 15px 20px;
    color: white;
    margin-top: 20px;
    text-decoration: none;
}
nav li{
    margin: 20px;
}


.header h1{

margin-right: 65%;
margin-top: 3em;
margin-bottom: 40px;

}
.header p{
    margin: 20px 900px 50px 0px;
}

/*--middle----*/

.middle{
    
    height:700px ;
    padding: 0 5%;
    background-image: url("Group\ 7.png");
    background-repeat:no-repeat;
    background-size: 850px 900px;
    background-position: left;
}
.middle h1{
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 60%;
    margin-right: 0px;
    padding-top: 150px;
    
}
.middle p{
    font-weight: 300;
    margin-top: 30px;
    margin-left: 60%;
    margin-right: 0px;
}




/*--testimonials----*/

.testimonials{
    margin-top: 200px;
    margin-bottom: 200px;
}
.col-md-4{
    padding: 3%;
    
}
.caption p{
    text-align: left;
}
.testimonials h1{
    margin-left: 0px;
    margin-bottom: 100px;;
    text-align: center;
}
.testimonials h3,h6{
    text-align: center;
}
#img{
    display: none;
}



/*--footer----*/


@media (max-width:999px)
{
   ul li{
       text-align: right;
   } 
   .zoom {
    padding: 50px;
    
    transition: transform .2s;
    width: 600px;
    height: 4s00px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .getstarted:hover {
    background-color:#CCCCCC;
    color: #2F2E41;
    text-decoration: none;
  }
   .header{
    height: 1400px;
    min-height: 1000px;background-image: url("Group\ 20.png");
    background-repeat: no-repeat;
    background-size:1200px 1400px;
    background-position:right top;
    padding: 0 5%;
    
    }
    .header h1{

        text-align: center;
        margin-left: auto;
        margin-top: 24em;
        margin-right: 0px;
        margin-bottom: 40px;
        
        }
    .header p{
            margin: 20px 0px 50px auto;
            text-align: center;
    }
    .getstarted{
        background-color: #2F2E41;
        border-radius: 50px;
        padding:15px 20px 15px 20px;
        color: white;
    
        text-align: center;
        margin-left: 40%;
        margin-right: auto;
    }
    .middle{
    
        height:1400px ;
        padding: 0 5%;
        background-image: url("Group\ 21.png");
        background-repeat:no-repeat;
        background-size: 850px 900px;
        background-position: left;
    } 
    .middle h1{
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: auto;
        text-align: center;
        padding-top: 1100px;
        
    }
    .middle p{
        font-weight: 300;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: auto;
        text-align: center;
    }  
    .testimonials{
       
    }
    .col-md-4{
        padding: 3%;
        
    }
    .caption p{
        text-align: left;
    }
    .testimonials h1{
        padding-top: 0px;
        margin-left: 0px;
        margin-bottom: 100px;;
        text-align: center;
    }
    .testimonials h3,h6{
        text-align: center;
    } 
    #img{
        display: none;
    }

}
@media (max-width:400px)
{
   ul li{
       text-align: right;
   } 
   .zoom {
  
    
    transition: transform .2s;
    width: 600px;
    height: 4s00px;
    margin-left: 0px;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  .getstarted:hover {
    background-color:#CCCCCC;
    color: #2F2E41;
    text-decoration: none;
  }
   .header{
    height: 1000px;
    min-height: 1000px;background-image: url("Group\ 22.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:right top;
    padding: 0 5%;
    
    }
    .header h1{

        text-align: center;
        margin-left: auto;
        margin-top: 15em;
        margin-right: 0px;
        margin-bottom: 40px;
        font-size: 35px;
        }
    .header p{
        font-size: 15px;
            margin: 20px 0px 50px auto;
            text-align: center;
    }
    .getstarted{
        background-color: #2F2E41;
        border-radius: 50px;
        padding:15px 20px 15px 20px;
        color: white;
    
        text-align: center;
        margin-left: 25%;
        margin-right: auto;
    }
    .middle{
    
        height:550px ;
        padding: 0 5%;
        background-image: url("Group\ 23.png");
        background-repeat:no-repeat;
        background-size: contain;
        background-position: left;
    } 
    .middle h1{
        margin-bottom: 0;
        
        margin-left: 0px;
        margin-right: auto;
        text-align: center;
        padding-top: 500px;
        font-size: 35px;
        
    }
    .middle p{
        font-size: 15px;
        font-weight: 300;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: auto;
        text-align: center;
    }  
    .testimonials{
       margin-top: 0px;
    }
    .col-md-4{
        padding: 3%;
        
    }
    .caption p{
        text-align: left;
    }
    .testimonials h1{
        padding-top: 0px;
        margin-top: 200px;
        margin-left: 0px;
        margin-bottom: 100px;;
        text-align: center;
    }
    .testimonials h3,h6{
        text-align: center;
    } 
    #imgg{
        display: none;
    }
    
    

}